* {
    margin: 0%;
}

img {
    width: 5%;
}

nav {
    background-color: oklab(55.088% -0.0387 -0.17953);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    padding: 10px;
}