* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background-color: rgb(28, 236, 97);
    height: 15vh;
    line-height: 15vh;
}

main {
    display: flex;
    height: 70vh;
    line-height: 70vh;
}

article {
    flex: 3;
    order: 2;
}

aside {
    flex: 1;
    background-color: rgb(212, 36, 36);
    order: 3;
}

nav {
    flex: 1;
    background-color: rgb(255, 0, 0);
    order: 1;
}

footer {
    background-color: rgb(117, 49, 180);
    height: 15vh;
    line-height: 15vh;
}